[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git://github.com/rainux/vundle.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/rainux/Command-T.git
[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = http://github.com/vim-scripts/DrawIt.git
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = http://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/matrix.vim--Yang"]
	path = bundle/matrix.vim--Yang
	url = http://github.com/vim-scripts/matrix.vim--Yang.git
[submodule "bundle/taskpaper.vim"]
	path = bundle/taskpaper.vim
	url = http://github.com/vim-scripts/taskpaper.vim.git
[submodule "bundle/vim2ansi"]
	path = bundle/vim2ansi
	url = http://github.com/vim-scripts/vim2ansi.git
[submodule "bundle/jslint.vim"]
	path = bundle/jslint.vim
	url = git://github.com/hallettj/jslint.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-flatfoot"]
	path = bundle/vim-flatfoot
	url = git://github.com/tpope/vim-flatfoot.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/CRefVim"]
	path = bundle/CRefVim
	url = http://github.com/vim-scripts/CRefVim.git
[submodule "bundle/JavaScript-syntax"]
	path = bundle/JavaScript-syntax
	url = http://github.com/vim-scripts/JavaScript-syntax.git
[submodule "bundle/NSIS-syntax-highlighting"]
	path = bundle/NSIS-syntax-highlighting
	url = http://github.com/vim-scripts/NSIS-syntax-highlighting.git
[submodule "bundle/OOP-javascript-indentation"]
	path = bundle/OOP-javascript-indentation
	url = http://github.com/vim-scripts/OOP-javascript-indentation.git
[submodule "bundle/SingleCompile"]
	path = bundle/SingleCompile
	url = http://github.com/vim-scripts/SingleCompile.git
[submodule "bundle/bash-support.vim"]
	path = bundle/bash-support.vim
	url = http://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/c.vim"]
	path = bundle/c.vim
	url = http://github.com/vim-scripts/c.vim.git
[submodule "bundle/echofunc.vim"]
	path = bundle/echofunc.vim
	url = http://github.com/vim-scripts/echofunc.vim.git
[submodule "bundle/jQuery"]
	path = bundle/jQuery
	url = http://github.com/vim-scripts/jQuery.git
[submodule "bundle/lua-support"]
	path = bundle/lua-support
	url = http://github.com/vim-scripts/lua-support.git
[submodule "bundle/matchit.zip"]
	path = bundle/matchit.zip
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/std_c.zip"]
	path = bundle/std_c.zip
	url = http://github.com/vim-scripts/std_c.zip.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = http://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-textobj-rubyblock"]
	path = bundle/vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-haml"]
	path = bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git://github.com/bbommarito/vim-slim
[submodule "bundle/po.vim--Jelenak"]
	path = bundle/po.vim--Jelenak
	url = http://github.com/vim-scripts/po.vim--Jelenak.git
[submodule "bundle/railscasts"]
	path = bundle/railscasts
	url = http://github.com/vim-scripts/railscasts.git
[submodule "bundle/Color-Scheme-Test"]
	path = bundle/Color-Scheme-Test
	url = git://github.com/rainux/Color-Scheme-Test.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-vala"]
	path = bundle/vim-vala
	url = git://github.com/rainux/vim-vala.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-desert-warm-256"]
	path = bundle/vim-desert-warm-256
	url = git://github.com/rainux/vim-desert-warm-256.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/tslime.vim"]
	path = bundle/tslime.vim
	url = git://github.com/rainux/tslime.vim.git
[submodule "bundle/vim-turbux"]
	path = bundle/vim-turbux
	url = git://github.com/rainux/vim-turbux.git
